<h1>Spin Again Portland</h1>

<br>

<div class="col-md-6">
<h2>Our Records</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<h2><%= link_to "Add a New Product", new_product_path %></h2>
<br>
</div>
